# Ignore IDE specific files
.idea/
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore coverage reports
coverage/

# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore logs
*.log

# Ignore temporary files
*.tmp

# Ignore Terragrunt cache
.terragrunt-cache/

# Ignore local test folder
tests

# Ignore local environment files
local/kind/*.yaml
local/compose/.env